

.grid-container {
    display: grid;
    align-items: center; /* left and right */
    justify-content: center; /* up and down */
    text-align: center;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    padding: 30%;
}

.item {
    border: 10px solid brown;
    border-radius: 20px;
    padding: 3rem;
}


/*    justify-content: center;
    text-align: center;
    display: grid;
    border: 10px solid;
    align-content: center;*/